.icon-container{
    display: inline-flex;
    cursor: pointer;
}

.icon-container svg {
    margin: 0.5rem 1rem;
}

.icon-active {
    color: #ff4e4e;
    fill: #ff4e4e;
}

.icon-container:hover{
    color: #ff4e4e;
    fill: #ff4e4e;
}